<div class="container">
  <h3 class="d-flex justify-content-center">Angular  aWeb API , SQL Server App Demo</h3>
  <h3 class="d-flex justify-content-center">Employee Management  Portal</h3>

  <nav class="navbar navbar-expand-sm bg-light navebar-dark">
    <ul class="navbar-nav">
      <li class="nav-iten">
        <button routerLink="department" class="m-1 btn btn-ight btn-outline-primary">Departments</button>
      </li>
      <li class="nav-iten">
        <button routerLink="employee" class="m-1 btn btn-ight btn-outline-primary">Emploees</button>
      </li>
    </ul>
  </nav>

<router-outlet></router-outlet>
</div>